# commitlint for not mandatory commits only local
.husky/
commitlint.config.js
node_modules
CHANGELOG.md

# ignore for ts on main
tsconfig.json
/src/main/resources/static/ts/tsSrc

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
