<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collective Dunes</title>

    <link rel="stylesheet" href="/css/styles.css">

    <script type="module" src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  </head>
  <body>
    <section class="canvasSection">
      <article>
        <canvas id="sandboxCanvas" width="100" height="100"></canvas>
      </article>
    </section>
    <section class="usersSection">
      <article>
        <div class="players">
        </div>
        <span>
          <img src="/img/mario.png">
          <img src="/img/enemyOne.png">
          <img src="/img/enemyFour.png">
          <img src="/img/enemyThree.png">
          <img src="/img/enemyTwo.png">
        </span>
        <div class="goBack">
          <p>Go Back </p>
        </div>
      </article>
    </section>
  </body>
</html>
