<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/redirect.js"></script> 
    <script src="/js/sessions.js"></script>
    <link rel="stylesheet" href="/css/portal.css">
    <title>Pestaña Principal</title>
</head>
<body>
    <div class="container">
        <h1>Bienvenido USUARIO</h1>
        <p>Sesiones</p>

        <input type="text" id="sessionName" placeholder="Nombre de la sesión">
        <input type="password" id="sessionPassword" placeholder="Contraseña">
        <button onclick="createSession()">Crear Sesión</button>

        <div class="session-list" id="sessionList"></div>

        <button onclick="redirectToIndex()">Ir a Falling Sand</button>
    </div>
</body>
</html>
